@model List<Publisher>
@{
  ViewData["Title"] = "Publishers";
}

<div>
  <header class="d-flex align-items-center justify-content-between">
    <h1 class="mb-4 mt-4">Publishers</h1>
    
    <form asp-controller="Publishers" asp-action="Index" method="get">
      <div class="input-group">
        <input type="search" name="name" class="form-control" placeholder="Search by name" value="@TempData["SearchString"]">
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit" value="Filter">Search</button>
        </div>
      </div>
    </form>
        
    <a asp-area="" asp-controller="Publishers" asp-action="Create" class="btn btn-primary">Add new</a>    
  </header>

  <section class="text-center">
    <table class="table">
      <caption>List of publishers</caption>
      <thead class="thead-dark">
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Name</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      @foreach (var (publisher, index) in Model.Select((v, i) => (v, i += 1)))
      {
        <tr>
          <th scope="row" class="align-middle">@index</th>
          <td class="align-middle">
            <a asp-area="" asp-controller="Publishers" asp-action="Detail" asp-route-id="@publisher.Id">@publisher.Name</a>
          </td>
          <td class="align-middle">
             <a asp-area="" asp-controller="Publishers" asp-action="Edit" asp-route-id="@publisher.Id" class="btn btn-primary">
               <span class="fas fa-edit"></span>
             </a>
             <a asp-area="" asp-controller="Publishers" asp-action="Delete" asp-route-id="@publisher.Id" class="btn btn-danger">
               <span class="fas fa-trash"></span>
             </a>
           </td>
        </tr>
      }
      </tbody>
    </table>
  </section>
</div>